<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="organofunction.FooterAbout"/>
      <class name="organofunction.ContactUs"/>
      <class name="organofunction.OrganoHeading"/>
      <class name="organofunction.organocar"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
